@import url('/static/css/reset.css');
@import url('/static/css/fonts.css');
@import url('/static/css/colors.css');
@import url('/static/css/base.css');
@import url('/static/css/buttons.css');
@import url('/static/css/forms.css');
@import url('layout/login.css');
@import url('layout/register.css');
