/* FUENTE ESTILO JAPONESA */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Sora:wght@100..800&display=swap');
/* FUENTE TITULOS */
@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap');
/* FUENTE TEXTO */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap');

