{% extends "base.html" %}

{% load static %}
    
{% block title %}
Niko-Niko!
{% endblock  %}

{% block link_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
    {% include "niko_niko/header.html" %}
    <main>
        <section class="welcome-section">
            <h2>Benvinguts a Niko-Niko!</h2>
            <p>Descobreix les millors receptes de cuina japonesa i molt més.</p>
            <a href="{% url 'niko_niko:recipe' %}" class="btn">Explora Receptes</a>
        </section>
        <section class="features-section">
            <div class="feature">
                <h3>Receptes Autèntiques</h3>
                <p>Gaudeix de receptes tradicionals japoneses preparades amb ingredients frescos.</p>
            </div>
            <div class="feature">
                <h3>Fàcil de Seguir</h3>
                <p>Instruccions pas a pas per a cuiners de tots els nivells.</p>
            </div>
            <div class="feature">
                <h3>Comunitat Niko-Niko</h3>
                <p>Uneix-te a la nostra comunitat i comparteix les teves creacions culinàries.</p>
            </div>
        </section>
        <section class="faqs-section">
            <h2>Preguntes Freqüents</h2>
            <div class="faq">
                <h4>Com puc trobar receptes específiques?</h4>
                <p>Utilitza la barra de cerca a la pàgina de receptes per trobar plats específics.</p>
            </div>
            <div class="faq">
                <h4>Ofereu receptes per a dietes especials?</h4>
                <p>Sí, tenim una varietat de receptes per a dietes vegetarianes, veganes i sense gluten.</p>
            </div>
            <div class="faq">
                <h4>Puc compartir les meves pròpies receptes?</h4>
                <p>Actualment estem treballant en aquesta funcionalitat. Mantingueu-vos atents!</p>
            </div>
        </section>
    </main>
    {% include "niko_niko/footer.html" %}
{% endblock %}