{% load static %}
<header class="header">
    <div class="container header__inner">
        <a href="/" class="header__logo">Niko-Niko</a>
        <nav class="header__nav">
            <a href="#recipes" class="header__nav-link">Recetas</a>
            <a href="#about" class="header__nav-link">Sobre Nosotros</a>
            <a href="#community" class="header__nav-link">Comunidad</a>
            <a href="#faq" class="header__nav-link">FAQ</a>
        </nav>
        <div class="header__cta-login">
            <a href="#" class="btn btn-secundary">Inicia Sesión</a>
            <a href="#" class="btn btn-primary">Registrate</a>
        </div>
    </div>
</header>